@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol[class],
li {
  padding: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

a:hover {
  color: #565656;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GTWalsheimPro-Regular";
}

p {
  font-family: "GTWalsheimPro-Medium";
}

img {
  display: block;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "GTWalsheimPro-Medium";
}

h2 {
  font-size: 40px;
}

.wrap {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1376px;
}

.section {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1376px;
}

.footer__button, .attraction__item-btn, .header__btn {
  padding: 11px 30px 11px 30px;
  background: #5C6BD7;
  border-radius: 13px;
  border: none;
  font-size: 24px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FBFBFB;
}

@font-face {
  font-family: "GTWalsheimPro-Medium";
  src: url(../fonts/GTWalsheimPro-Medium.ttf);
}
@font-face {
  font-family: "GTWalsheimPro-Regular";
  src: url(../fonts/GTWalsheimPro-Regular.ttf);
}
main {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.intro__title-mobail {
  display: none;
}

.header__btn {
  margin-top: 44px;
}

.header {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto 0 auto;
  padding: 0 5px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__inner .header__item .logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header__item-span {
  color: #fff;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__row {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__item:first-child {
  padding-right: 20px;
}

.intro__title {
  font-size: 128px;
  line-height: 147px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  color: #3D3745;
}

.intro__text {
  max-width: 459px;
  width: 100%;
  padding: 34px 0 40px 0;
  font-size: 32px;
  line-height: 37px;
  color: #3D3745;
}

.intro__hr {
  border: 2px solid #EBEAEC;
  border-radius: 13px;
}

.intro__img {
  width: 100%;
  max-width: 761px;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 141px;
  margin-top: -153px;
  z-index: -1;
}

.attraction {
  margin: 200px auto 129px auto;
  width: 100%;
  max-width: 1376px;
}

.attraction__inner-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 768px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/attraction__background.png");
}
.attraction__inner-background .attraction__img-phone {
  position: absolute;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 227px;
  height: 457px;
  right: 31px;
  bottom: -50px;
}
.attraction__inner-background .attraction__title {
  margin-top: 30px;
  font-size: 96px;
  line-height: 110px;
  text-transform: uppercase;
  color: #F27C4F;
}

.attraction__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.attraction__item-text {
  font-size: 40px;
  line-height: 46px;
  max-width: 882px;
  width: 100%;
  color: #3D3745;
  margin-top: 50px;
}

.attraction__item {
  padding: 0 10px;
}

.attraction__item-btn {
  margin-top: 10px;
}

.about_us {
  margin-top: 129px;
}

.about_us__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us__img1 {
  width: 100%;
  max-width: 557px;
  height: 649px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about_us__img--phone {
  margin-top: -194px;
  margin-left: 110px;
}

.about_us__title {
  font-size: 54px;
  line-height: 62px;
  margin-top: 70px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #3D3745;
}

.about_us__text {
  font-size: 32px;
  line-height: 37px;
  max-width: 719px;
  color: #3D3745;
}

.about_us__img {
  padding: 10px;
}

.about_us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about_us__row .about_us__img--row {
  z-index: -1;
  margin-top: -78px;
  width: 100%;
  max-width: 739px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about_us__inner-last {
  margin-top: 120px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about_us__inner-last .about_us__item-last {
  position: relative;
}
.about_us__inner-last .about_us__img3 {
  max-width: 615px;
  height: 698px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_us__inner-last .about_us__img--phone2 {
  max-width: 219px;
  height: 439px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 291px;
  left: -30px;
  padding: 0;
}
.about_us__inner-last .about_us__title {
  width: 326px;
}
.about_us__inner-last .about_us__text {
  width: 527px;
}

.footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1376px;
  margin-top: 120px;
  background-image: url("../img/footer__bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 35px 35px 0 0;
}

.footer__text {
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FBFBFB;
  padding: 73px 196px 0 196px;
}

.footer__button {
  margin: 78px 0 58px 0;
}

.footer__inner {
  background-color: #EBEAEC;
  padding: 43px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}
.footer__inner .footer__item .privacy__policy {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #3D3745;
  padding: 0 39px 0 0;
}
.footer__inner .footer__item .copyright {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #3D3745;
}

@media (max-width: 1288px) {
  .intro__title {
    margin-top: 10px;
  }
  .header__item-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__item-text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 20px;
  }
  .header__item-btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .intro__text {
    max-width: 459px;
    width: 100%;
    padding: 15px 0;
    font-size: 25px;
    color: #3D3745;
  }
  .intro__text {
    padding: 20px 0;
  }
  .about_us__text {
    margin: 15px 0 15px 0;
  }
}
@media (max-width: 980px) {
  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__inner .intro__img {
    margin-bottom: 75px;
    position: relative;
    right: -15px;
  }
  .intro__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .intro__title {
    font-size: 95px;
    line-height: 107px;
  }
  .intro__text {
    max-width: none;
    text-align: center;
  }
  .intro__item:first-child {
    padding: 0 15px;
  }
  .about_us__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about_us__row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .about_us__img--phone {
    margin-left: 0;
  }
  .about_us__inner-last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 30px;
  }
  .about_us__inner-last .about_us__item-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .about_us__inner-last .about_us__img3 {
    -o-object-position: center top;
       object-position: center top;
  }
  .about_us__inner-last .about_us__img--phone2 {
    right: 34px;
    left: auto;
  }
  .about_us__img {
    width: 100%;
    max-width: 500px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 780px) {
  .popup.active {
    max-width: 550px;
  }
  .intro__title {
    font-size: 75px;
    line-height: 107px;
  }
  .intro__inner .intro__img {
    left: -15px;
  }
  .attraction {
    margin-top: 80px;
  }
  .attraction__inner-background .attraction__img-phone {
    max-width: 197px;
    height: 357px;
    right: -16px;
  }
  .attraction__inner-background .attraction__title {
    font-size: 76px;
    line-height: 70px;
  }
  .attraction__item-text {
    font-size: 30px;
    line-height: 36px;
    margin-top: 60px;
  }
  .about_us__inner-last .about_us__text {
    width: 100%;
  }
  .about_us__title {
    font-size: 36px;
    line-height: 41px;
    margin: 0 0 15px 0;
  }
  .about_us__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 51px;
  }
  .about_us__row .about_us__img--row {
    margin-right: -170px;
  }
  .about_us__title--last {
    margin-top: 101px;
  }
  .about_us__inner-last .about_us__title {
    width: 100%;
  }
  .footer {
    margin-top: 55px;
  }
  .footer__text {
    padding: 69px 35px 97px 35px;
    font-size: 22px;
    line-height: 25px;
  }
  .footer__button {
    margin: 0 0 64px 0;
  }
}
@media (max-width: 580px) {
  .popup.active {
    max-width: 345px;
  }
  .intro__title-desct {
    display: none;
  }
  .intro__title-mobail {
    display: block;
    margin: 24px 0 37px 0;
  }
  .attraction__item-btn {
    background: #F27C4F;
  }
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__inner .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__title {
    font-size: 48px;
    line-height: 55px;
    padding: 0;
  }
  .intro__title .header__item-span {
    color: #3D3745;
  }
  .header__item-logo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__item-logo .logo__docer {
    width: 100%;
    max-width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    margin-right: -20px;
  }
  .header__item-logo .docer__inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__item-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 24px;
  }
  .header__item-btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__item-btn .header__btn {
    margin: 0;
  }
  .intro {
    margin-top: 35px;
  }
  .intro .intro__text {
    font-size: 22px;
    line-height: 25px;
  }
  .intro .intro__img {
    margin-top: 0;
  }
  .attraction__inner-background {
    height: 400px;
  }
  .attraction__inner-background .attraction__img-phone {
    max-width: 115px;
    height: 235px;
    right: -16px;
    bottom: -30px;
  }
  .attraction__inner-background .attraction__title {
    padding: 0 10px;
    font-size: 48px;
    line-height: 55px;
  }
  .attraction__inner {
    background: #5C6BD7;
    padding: 0 10px 40px 10px;
  }
  .attraction__item-text {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 25px;
  }
  .attraction__item-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .attraction__item-block .attraction__item-btn {
    margin-top: 35px;
  }
  .about_us__inner-last {
    margin-top: 0;
  }
  .about_us__inner-last .about_us__img3 {
    max-width: 345px;
    height: 392px;
  }
  .about_us__inner-last .about_us__img--phone2 {
    right: 34px;
    left: auto;
    max-width: 137px;
    height: 274px;
    top: 191px;
  }
  .about_us__img {
    width: 100%;
    max-width: 242px;
    height: 305px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about_us__row .about_us__img--row {
    margin-right: -100px;
  }
  .about_us__img--phone {
    width: 100%;
    max-width: 145px;
    margin-left: 30px;
    height: 274px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 51px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__inner .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }
  .footer__inner .footer__item .privacy__policy {
    padding: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__inner .footer__item .copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 34px 0 15px 0;
  }
}
@media (max-width: 480px) {
  .intro__title {
    font-size: 38px;
  }
  .popup.active {
    max-width: 285px;
    padding: 30px;
  }
  .close-popup {
    top: 10px;
    right: 10px;
  }
}