%button {
   padding: 11px 30px 11px 30px;
   background: #5C6BD7;
   border-radius: 13px;
   border: none;
   font-size: 24px;
   line-height: 27px;
   text-transform: uppercase;
   color: #FBFBFB;
}